{
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "@vue/airbnb"
  ],
  "root": true,
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignorePattern": "^// Flags:",
        "ignoreRegExpLiterals": true,
        "ignoreUrls": true,
        "tabWidth": 2
      }
    ]
  }
}
